PORT=PORTNUMBER
DATABASE_URL=postgresql://USERNAME:PASSWORD@HOST:PORT/DATABASE_NAME
REDIS_URL=redis://yourHost:portNumberOfRedis

CLIENT_URL=ALLOWED_CLIENTS

ACCESS_SECRET=YOUR_ACCESS_SECRET
REFRESH_SECRET=YOUR_REFRESH_SECRET

